@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');
@import "reset.css";
@import "variables.css";

/* Components */
@import "/css/components/status-bar.css";
@import "/css/components/screeen-header.css";
@import "/css/components/user-component.css";

/* Screens */
@import "css/screens/login.css";
@import "/friends/css/friends.css";

body{
    color:#17202E;
    font-family: 'Noto Sans KR', sans-serif;
    width: 500px;
    height: 700px;
}