.nav{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--blue);
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid var(--color-white);
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color: white;
    text-decoration: none;
    position: relative;
}

.nav__notification{
    position: absolute;
    left: 20px;
    bottom: 18px;
}

.nav_dot{
    position: absolute;
    left: 35px;
    bottom: 30px;
}