.screen-header{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 0px 25px;
    align-items: center;
    color:var(--blue);
    margin-top: 25px;
}
.screen__title{
    font-size: 28px;
    font-weight: 600;
}

.screen__icons span{
    margin-left: 25px;
}

.screen__icons{
    position: relative;
}