@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');
@import "/reset.css";
@import "/variables.css";

/* Components */
@import "/login/css/status-bar-login.css";

/* Screens */
@import "/login/css/login.css";

body{
    color:#17202E;
    font-family: 'Noto Sans KR', sans-serif;
    width: 500px;
    height: 700px;
}